.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.dashboard-grid > *:nth-child(5) {
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
  .dashboard-grid > *:nth-child(5) {
    grid-column: 1;
  }
}
